.ta,.h-ta,.t-ta,.ho-ta
{
position: absolute;
left: 55px;
font-weight: bold;
font-size: 80px;
font-family: 'Bebas Neue', cursive;
color: #FF7A00;
border-color: #FFEFCF;
border-width: 10px;
box-shadow: 10px;
border-style: solid;
padding: 10px;
}

.ho-ta{
left: 40px;
  top:0px;
}

.h-ta{

  top:1260px;
}

.t-ta{

  top:1900px;
}

.ta{

  top:620px;
}

.area1,.area2,.area3{
  color:#FF7A00 ;

}


.o,.oo,.c,.y{
  color: #FFEFCF;
}


.tap,.h-tap,.ho-tap,.t-tap,.list
{
  position: relative;
left: 240px;
top: 190px;
  font-size: 30px;
 width: 700px;
color: #FFEFCF;
font-family: 'Bebas Neue', cursive;
}

.food,
.healthcare ,
.home ,
.toys{
  height: 600px;
 margin-bottom:  80px;
 background-color:#2d2424 ;

}

.pic-f,.pic-t,.pic-ho,.pic-h{
position: relative;
height: 500px;
width: 500px;
left: 700px;
bottom: 415px;
background-image: url("../imgs/ll.png");
background-size: cover;
}


.pic-t{
position: absolute;
background-image: url("../imgs/nw.png");
bottom:-2000px;
left: 1040px;
}


.pic-h{
background-image: url("../imgs/fff.png");
bottom: 195px;
left: 1040px;
}


.pic-ho{
background-image: url("../imgs/nw2.png");
bottom: 157px;
left: 1070px;
}

.main{
background-color:#2d2424 ;
}

body{
background-color:#2d2424 ;
}
